@font-face {
    font-family: AboriginalSansREGULAR;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/AboriginalSansREGULAR.ttf);
}

@font-face {
    font-family: Abyssinica_SIL;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/Abyssinica_SIL.ttf);
}

@font-face {
    font-family: Aegean;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/Aegean.otf);
}
@font-face {
    font-family: Aegyptus;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/Aegyptus.otf);
}
@font-face {
    font-family: Akkadian;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/Akkadian.otf);
}
@font-face {
    font-family: ayar;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/ayar.ttf);
}

@font-face {
    font-family: ayar;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/ayar.ttf);
}

@font-face {
    font-family: lannaalif;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/lannaalif-v1-03.ttf);
}

@font-face {
    font-family: Uthman;
    src: url(/assets/components/tinymce/js/tinymce/themes/advanced/fonts/Uthman.otf);
}
