/************************* compose document ***************************************/
body{
    /*padding-bottom: 70px;*/
}
.selected-area {
    border: 1px dotted dodgerblue;
}


.editable_note {
    border: 1px dotted;
    height:auto;
}

.footer_page {
    position: absolute;
    bottom: 0px;
    min-height: 90px;
    z-index: 1;
    width: 90%;
}

.content_page {
    font-size: 16px;
    font-family: Arial;
    max-height:auto!important;;
}

.subject_page {
    font-size: 18px;

}

.action_container {
    box-shadow: 0 0 1px #ccc;
    height: 600px;
    padding: 5px 10px;
}

.subject_document_editor {

    display: inline-block;
    width: 649px;
    margin: 5px 0;
}

.to_document_editor {

    width: 400px;
    margin: 5px auto;
    text-align: center;
    font-size: 18px;
}

.cc_document_editor {
    margin: 5px 0;
    text-align: right;
    font-size: 18px;
}

.signer_document_editor {
    width: 100%;
    min-height: 100px;
    margin: 5px 0;
    text-align: left;
    font-size: 18px;
}

.editable {

    margin: 5px 0;
    min-height: 300px;

}

.sign_item {
    /*width:200px;*/
    display: inline-block;
    height: 80px;
    text-align: center;
    vertical-align: top;
    height: 100%;
    margin: 10 auto;

}

.sign_img{
    width:100%;
}

.editor .edit_dotted {
    border: 1px dotted dodgerblue;
    min-height: 35px;
}

.cc_document_editor {
    font-size: 12px;

}

.sidebar-default {
    border: none;
}


.mce-content-body {
    max-heigh: 450px;
}

.img-thumbnail {
    max-height: 90px;
}

.left_side {
    text-align: left;
    direction: ltr;
}



.document_date {
    width: 430px;

}

.document_number {
    width: 420px;
    vertical-align: middle;

}

.document_number * {
    vertical-align: middle;
}

.to_page {
    text-align: center;
    vertical-align: middle;
}

.to_title {
    vertical-align: middle;
}

.to_document_editor {
    vertical-align: middle;
}

#document_number_text {
    display: inline-block;
    overflow: hidden;
    width: 280px;
    vertical-align: middle;
}

#document_date_text {
    display: inline-block;
    overflow: hidden;
    width: 280px;
    vertical-align: middle;
}

.page-container {
    width: 100%;
}

.header_top {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    color: #ccc;
}

.barcode {
    text-align: center;
}

.action_button {
    display: inline-block;
    margin: 5px 5px;
}

span.document_list {
    margin-left: 10px;
    font-size: 14px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}
svg.document_list {
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1190px) {
    .a4_paper_container {
        zoom: 0.7;
    }

}

@media (max-width: 935px) {
    .a4_paper_container {
        zoom: 0.5;
    }

}

.navbar-brand{
    padding: 5px 25px;
}



 .header_page {
     min-height: 0.5in;
     /*border-bottom: 1px solid #ccc;*/
 }

.footer_page {
    position: absolute;
    bottom: 0px;
    min-height: 90px;
    border-top: 1px solid #ccc;
    z-index: 1;
    width: 90%;
}

.content_page {
    font-size: 16px;
    font-family: Arial;
}

.subject_page {
    font-size: 18px;

}

.action_container {
    box-shadow: 0 0 1px #ccc;
    height: 600px;
    padding: 5px 10px;
}

.subject_document_editor {

    display: inline-block;
    width: 649px;
    margin: 5px 0;
}

.to_document_editor {

    width: 400px;
    margin: 5px auto;
    text-align: center;
    font-size: 18px;
}

.cc_document_editor {
    margin: 5px 0;
    text-align: right;
    font-size: 18px;
}

.signer_document_editor {
    width: 100%;
    min-height: 100px;
    margin: 5px 0;
    text-align: left;
    font-size: 18px;
}

.editable {

    margin: 5px 0;
    min-height: 300px;

}





.layout_box {
    padding: 10px 20px;
    border: 1px #ccc solid;
    margin: 10px 20px;
    box-shadow: 1px 1px 3px #ccc;
    direction: rtl;
    cursor: pointer;
}

.padd_20 {
    padding: 0 20px;
    position: relative
}

.signer_container {
    display: inline-block;
    position: relative;
    min-width: 250px;
    margin: 5px 10px;
    height: 110px;
}

.signs_page {
    width: 100%;
    height: 110px;
}

.signer_sign_img {
    width: 240px;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    left: 50%;
    margin-left: -130px;
}

.table-inbox-recipients{

}

.details_float_container{

}
.details_float{
    text-align:right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;


}
.table tr ,.table tr td {
    max-height: 44px;

}
.table-inbox tr td{
    background: transparent!important;
}
.table tbody tr:hover{
    background: #1a8fb80f;
}
.table tbody tr:hover .details_float{
    display:inline-block;

}

.link-details{
    margin-right: 10px;
}

.datatable-ajax tr{

}

.table tr .time_float_container{
    display: block;
    font-size: 12px;
}

.table tr .details_float_container{
    display:none;
}




.table tr td.time-column{
position:relative;
}

.table tr td.time-column .details_float_container{
    position:absolute;
    right:20px;
    top:5px;
}


.table tr:hover .details_float_container{
    display: inline-block;
    text-align:right;
}

.table tr:hover .time_float_container{
    display: none;
}




/*.table tr td.time-column{*/
    /*display:block;*/
/*}*/

/*.table tr:hover td.time-column{*/
    /*display:none;*/
/*}*/
.link-icon i{
    font-size: 16px!important;
}
.link-icon{
    padding: 5px 8px;
    display:inline-block;
    border-radius: 50px 50px;
    font-size:14px;

}
.link-icon:hover{
    background: #e4e4e4;
    color:#000;
    box-sizing: border-box;

}

.content-wrapper {
    display: block!important;
}

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
    min-width: 24px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
table.table td:last-child .add {
    display: inline;
}

.details-box dt {
    font-weight:bold;
}