body{

}

.login-container .page-container{
    padding-top:0;

}

.content:first-child{
    padding-top: 60px;
}

.login-container .page-container .login-form{
    position: relative;
    width: 520px;
    background: transparent;
    border: 1px solid #95989A;
}
.login-form .login-form-content{
    background: #fff;
    margin:0 10px;
    padding: 100px 45px 50px 45px
}


.login-container .page-container form{
    margin-bottom: 80px;
}


.login-form .login-form-content .button-login{
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #093844;
    border: #95989A;
    display: inline-block;
    padding: 15px 100px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
}

.login-form .login-form-content .button-login:hover{
    background: #1c4650;
}

.login-form .login-form-content input{
    height:64px;
    background: #95989A;
    color:#3F5361;
    font-size:16px;
}


.login-form .login-form-content input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3F5361;
}
.login-form .login-form-content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #3F5361;
    opacity:  1;
}
.login-form .login-form-content input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #3F5361;
    opacity:  1;
}
.login-form .login-form-content input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #3F5361;
}
.login-form .login-form-content input::-ms-input-placeholder { /* Microsoft Edge */
    color:    #3F5361;
}


.login-form .login-form-content .form-control-feedback{
    top:14px;
}

.login-container .page-container .login-form{
    margin: 30px auto 20px auto;
}

.login-form .header-box{
    position: absolute;
    top:-5px;
    left:50%;
    margin-left:-175px;
    width:350px;
    height:80px;
    background : #0074FB ;

}

.login-form .header-box h1{
    color:#fff;
    text-align:center;
    text-transform: uppercase;
    font-size: 22px;
    text-shadow: 0px 0px 1px #ffffff;
    letter-spacing: 3px;
}

.logo{
    width: 214px;
    margin:0 auto;
    display: block;
}


.footer {
    height: 80px;
    bottom: 0;
}

.login-footer{
    vertical-align: middle;
    text-align: left;
}