
body{
    height: 100%!important;
}
.page-container{
    height: 100%!important;
}
#anytime-both{    padding: 0px;
    height: auto;
    color: #fff;
    text-transform: uppercase;
    border: none;}

@media (min-width: 769px){
    .navbar-text + .navbar-nav {
        margin-left: 0px;
    }}
.add_conntact{margin-bottom: 15px}
.contact_box{min-height: 100px}
/*.page-container{background: #fff}*/
.msg_box{min-width: 400px }
.see_all_not{text-align: center;
    text-transform: capitalize;
    padding-top: 10px;}
.see_all{}
.img_not{    margin: 0;
    padding: 0;
    vertical-align: middle;}
.img_not .img-sm {
    width: 45px!important;
    height: 45px!important;
}
.list_not{    padding: 5px 20px}
.unread_notification .media-body{padding: 10px }
.not_heading{    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;}
.list-inline > li:last-child{padding-left: 10px!important;}
.intl-tel-input{display: block !important;}
.intl-tel-input{display: block!important;}
.table > thead > tr > th{padding:12px 0}
.logo_header{padding-top: 8px}
.view_btn{padding-top: 12px !important;}
.sec_side_drop{position: absolute !important;
left: 0 !important;}
.page-container{overflow: hidden}
.mail-attachments-container{width: auto;width: 210mm;margin: 0 auto;}
.paper.page.A4{width: 754px;
    margin-bottom: 40px;}

.paper.page.A4>img{    height:auto;
    width: 100%;}
.vedio_attached{    width: 100%;
    height: 50%;}
.vedio_attached>video{margin: 0;
    height: 100%;
    width: 100%;}
.att_link a{font-size: 16px}
.att_link a i{font-size: 26px; margin: 10px}



/* ------------------ Hanandeh --------------------- */
    /* ------------- User Accounts ---------- */
    .account-label{
        text-align: right;
        font-weight: bold;
        color:#0c7cd5;
        padding: 0 !important;
    }
    .account-label span{padding: 0 !important;}
    .all_accounts .panel-body > div {
        border-bottom: 1px solid #CCC;
        line-height: 30px;
    }
    .all_accounts .panel-body > div:last-child {
        border-bottom: 0px;
    }
    .account-options a{
        color:#000;
        margin: 0 10px;
        line-height: 25px;
    }
    .panel-heading{
        padding: 10px 20px;
    }
    .panel-title .glyphicon{
        font-size: 20px;
    }
    .panel.panel-deactivated {
         opacity: 0.5;
    }
    .panel-deactivated .panel-heading {
        background: #a9a9a9;
    }
    .panel-deactivated .panel-footer{
        display: none;
    }
    .panel-success > .panel-heading{
        background-color: #2196F3 !important;
        border-color: #2196F3 !important;
    }
    /* ------------- User Accounts ---------- */


/* ------------------ Hanandeh --------------------- */

.mce-branding-powered-by{display: none}
#mceu_56-body{height: 20px}
#mceu_57-0{display: none}
.xtool{    position: absolute;
    right: -1px;
    top: 20px;
    z-index: 99999;
    background: initial;
    font-weight: bold;
    border: 1px solid #999999;
}
.text-content{margin-bottom: 30px;position: relative}
#mceu_30{display: none}
.compose_secsid_btn{    width: 100%;
    text-align: center;
    padding: 10px 50px;}
.compose_secsid_attach .btn-browse, .compose_secsid_attach .uploader{width: 100% }
.compose_secsid_btn button{width: 100%}
#uploader-my_uploader_id{padding: 10px 0px}
.workflow button{width: 100%;
    border: 1px solid #ccc;
    text-align: left;
    background: #fff;}
.workflow button:hover{background-color: #fff!important;}
.workflow button:focus{background-color: #fff!important;}
.workflow button:visited{background-color: #fff!important;}
.workflow_icon svg{display: inline}
.workflow_icon{text-align: center!important;}
.sig_btn{background: #6699cc!important;
    border-radius: 0!important;
    color: #fff!important;
    transition: all .15s ease-in-out!important; border-radius: 0!important;
    color: #fff;}
.sig_btn:hover,.sig_btn:visited,.sig_btn:active{transform: scale(1.1)!important;background: #6699cc;border-radius: 0!important;
    color: #fff;}
sig_btn.btn-default:focus{background-color: #6699cc !important;border-radius: 0!important;
    color: #fff!important;}
.profile_signature .signature{}
.profile_signature .panel{background: #fff;box-shadow: none;border: none}
.profile_signature .title{color: #313131;font-size: 18px}
.profile_signature .panel-heading{background: #fff;border:none;}
.profile_info th,.profile_info td{border: 0 !important;}
.profile_info tr{border-bottom: 1px solid #ddd;}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #313131;
    overflow: hidden;
    width: 100%;
    height:35%;
    transition: .1s ease;
    text-align: center;
    opacity: 0.5;
}
.overlay .text{color: #ccc!important;}
.profile-cover .profile_pic:hover .overlay {
  opacity: .9!important;
}
.profile-cover .profile_pic:hover .overlay .btn-browse{
    background-color: #313131;
    opacity: .9!important;
}.profile-cover .profile_pic .overlay .btn-browse{
    background-color: #313131;
    opacity: .9!important;
}


.add_note_cursor {
    cursor:url("/assets/images/blue_pin.png"), auto;
}

.sidebar-xs .compose-button .button-title{
    display:none;
}
.sidebar-xs .compose-button .dropdown-toggle{
    padding:0px;
}
.sidebar-xs .compose-button>a,.sidebar-xs .compose-button>button{

   min-height:40px;
}

.sidebar-xs .compose-button .dropdown-menu{
    position: absolute;
    right: -180px;
    top: 0px;
}


.avatar_box img{
    width:112px;
    height:112px;
    margin: 0 10px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag{
    border-radius: 0!important;;
    padding: 0px 14px 0px 5px !important;
}
.bootstrap-tagsinput .tag [data-role=remove]{
    right:1px!important;
}

.tt-menu{
    width: 340px!important;
}


.bootstrap-tagsinput input{
    top:-3px!important;
}
.bootstrap-tagsinput{
    vertical-align: -webkit-baseline-middle!important;
}

/*.bootstrap-tagsinput{*/
    /*border-bottom: 1px solid #ccc !important;*/
    /*padding: 0!important;*/
    /*margin: 0!important;*/
    /*height: 28px;*/
    /*width:100%!important;*/
/*}*/
 .bootstrap-tagsinput .tag:not([class*=bg-]){
     background-color: #008eb8;
}

.workflow_steps .actions{
    display: none!important;
}

.workflow_steps_details .actions{
    display: none!important;
}

 .scroll_page{
     overflow-y : scroll;
     height:500px;
 }

 .compose-icon{
     font-size:20px!important;
 }

 .compose-button-tools{
     padding: 10px;
     background: #008EB8 !important;
 }

.document_reference {
    color: darkblue;
    font-weight: bold;
}

.pages_frame {
    background:#eeeded;
    margin: 0 auto;
    width:85%;
    padding: 10px 20px;
}

.slimScrollDiv{
    margin:0 auto;
}


.bootstrap-tagsinput{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-tagsinput:focus {
    border-color: #ddd;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(221, 221, 221, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(221, 221, 221, 0.6);
}
.bootstrap-tagsinput::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.bootstrap-tagsinput:-ms-input-placeholder {
    color: #999;
}
.bootstrap-tagsinput::-webkit-input-placeholder {
    color: #999;
}
.bootstrap-tagsinput::-ms-expand {
    border: 0;
    background-color: transparent;
}

.bootstrap-tagsinput {
    padding-left: 0;
    padding-right: 0;
    border-width: 1px 0;
    border-color: transparent;
    border-bottom-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-tagsinput:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #009688;
    -webkit-box-shadow: 0 1px 0 #009688;
    box-shadow: 0 1px 0 #009688;
}
.bootstrap-tagsinput[disabled],
fieldset[disabled] .bootstrap-tagsinput {
    border-bottom-style: dashed;
    color: #999999;
}
.bootstrap-tagsinput[readonly] {
    border-bottom-style: dashed;
    border-bottom-color: #ddd;
    color: #333333;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-tagsinput-unstyled {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.bootstrap-tagsinput:focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #009688!important;
    -webkit-box-shadow: 0 1px 0 #009688;
    box-shadow: 0 1px 0 #009688;
}

.focus {
    outline: 0;
    border-color: transparent;
    border-bottom-color: #009688!important;
    -webkit-box-shadow: 0 1px 0 #009688;
    box-shadow: 0 1px 0 #009688;
}

.signer_names{
    font-style: italic;
}