body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
}

/*header style*/
.intl-tel-input{display: block !important;}
.intl-tel-input .selected-flag .iti-arrow{right: 6px}
header {
    background-color: antiquewhite;
    padding: 5px;
}

.header-menu-custom {
    position: absolute;
    left: 200px;
    top: 50px;
}

.sidebar-xs .header-menu-custom {
    position: absolute !important;
    left: -15px !important;
    top: 60px !important;
}
.sidebar-user-material-menu {visibility: hidden}

.sidebar-user-material-content span{padding: 5px}
.sidebar-main .navigation > li > a > i {
    font-size: 22px !important;
    color: #003375;
    margin-right: 0;
}


}
#main {
    background-color: cornsilk;
    padding: 10px;
}

footer {
    background-color: #1B1D55;
    padding: 5px;
}

#anytime-both {
    padding: 0px;
    height: auto;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

.calender_div {
    padding: 3px;
}

.calender_div .navbar-text {
    padding: 7px !important;
}
.calender_div .navbar-nav >li {padding: 0px 8px}

svg#calender_svg {
    height: 25px;
    width: 25px;
    margin: 11px -15px;
    position: absolute;
    top: 7px;

}

svg#calender_svg path {
    fill: #fff;
}

svg#msg_svg {
    height: 28px;
    width: 28px;
    margin: 0 -15px;
    position: relative;
    z-index: -1;
}

svg#msg_svg path {
    fill: #fff;
}

svg#not_svg {
    height: 28px;
    width: 28px;
    margin: 0 -15px;
    /* position: absolute;*/
    z-index: -1;
}

svg#not_svg path {
    fill: #fff;
}

.notification_num {
    background: #FF0034;
    border: #FF0034;
    left: 11px;
    top: 5px;
    position: absolute;
    font-size: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    /* padding: 3px; */
    display: block;
}
.unread_notification a {
    color: #313131;
}.unread_notification a:hover {
     color: #313131;
 }

.read_notification a {
    color: #313131;
}.read_notification a:hover {
     color: #313131;
 }

.unread_notification .media-body {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}

.read_notification .media-body {
    font-weight: normal;
    text-align: left;
    padding: 15px;
}

.unread_notification {
    background: #edf2fa !important;
    margin: 0 !important;
    border-bottom: 1px solid #ccc !important;
}
.unread_notification:focus{outline: aliceblue}

.read_notification:focus{outline: aliceblue}

.read_notification {
    background: #fff !important;
    margin: 0 !important;
    border-bottom: 1px solid #ccc !important;
}

.notification {
    padding: 0 !important;
}

.msg_num {
    /*color: #025BA4;*/
    color: #FF0034;
    right: 11px;
    top: 15px;
    position: absolute;
    font-size: 10px;
}

.bg_move {
    background: #2D3092 !important;
    border-top: none !important;
}

.border-double {
    background: #2D3092 !important;
    border-top: none !important;
}

.color_white {
    color: #fff;
    text-transform: capitalize;
    position: relative;
    top: -6px;
    left: 5px;
}

/*header style*/

#feth_svg {
    display: inline;
}

.view_btn {
    background-color: transparent !important;
    text-transform: capitalize !important;
    color: #fff !important;
    font-family: inherit !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
}

.bg_move td {
    padding: 5px 15px !important;
}

.bg_blue1 td {
    padding: 5px 15px !important;
}

.bg_blue2 td {
    padding: 5px 15px !important;
}

.prog_td .progress {
    display: inline-block !important;
    width: 100px !important;
}

.complete_result {
    display: inline-block !important;
    width: 100px !important;
    text-align: center;
    padding: 3px 5px;
    background: red;
    color: #fff;
    margin: 6px
}

.user_td .i {
    color: #2D3092;
    font-size: 25px;
}

.bg_blue1 {
    background-color: #025BA4;
}

.bg_blue2 {
    background-color: #5187D6;
}

.user_td {
    text-align: center;
    padding-top: 5px;
}

.w_33 {
    width: 33%;
}

.user_active {
    border-radius: 0 !important;
}

.user_active .panel-title {
    color: #2D3092;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px
}

.view_btn_sm {
    color: #2D3092 !important;
    background: #fff !important;
    font-family: inherit !important;
    text-transform: capitalize !important;
    font-size: 13px !important;
}

.user_active .panel-heading {
    padding: 10px;
    border-bottom: 1px solid #CDCED2;
}

.user_active .media-body a {
    color: #000000;
    font-weight: bold;
}

.user_active li.media {
    border-bottom: 2px solid #CDCED2;
    padding-bottom: 10px;
}

.on_cir {
    color: #2D3092;
    text-align: center
}

.on_p {
    color: #FF0000
}

/*

input.b[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 14px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 0px 0px 0px;


}*/
.sidebar-user-material .category-content {
    background: url('/assets/images/user-background.png') center center no-repeat !important;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.icon_sid {
    color: #003375 !important;
    font-size: 21px !important;
    font-weight: bold !important;
}

.ul_sid {
    margin: 40px 0 !important;
}

.ul_sid #Layer_1 {
    position: relative !important;
    top: 5px !important;
}

.ul_sid span {
    color: #161616;
    font-size: 15px;
    padding: 10px;
    margin: 12px;
    top: -3px;
}

.sidebar-xs .sidebar-main.sidebar-default .navigation > li > a > span {
    color: #333333 !important;
}

.custom_footer .navbar-text {
    color: #fff !important;
    font-size: 15px;
    margin-top: 5px;
}

.custom_footer .help {
    position: relative;
    padding: 10px;
    top: -10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.content-wrapper {
    overflow: hidden !important;
}

.custom_footer {
    background: #1B1D55 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    height: 60px;
}

/*document/inbox page style*/


.table-inbox-name, .table-inbox-status{
    white-space:normal !important;width: 200px !important;
}

.table-inbox-from{
    white-space:normal !important;width: 120px!important;
}
.table-inbox-message{
    max-width: 600px !important;
}



.table-inbox-message{overflow: hidden;
    white-space:nowrap !important;max-width: 200px !important;
    text-overflow: ellipsis;}
.completed_number_users {
    min-width: 120px !important;
}
.text-center.details-button{width: 50px !important;}
.table-inbox-status{width:200px !important;}
/**/
.doc_head .text-semibold {
    color: #2D3092;
    text-transform: capitalize;
    font-size: 29px;
    padding: 15px;
}

/*search input*/
#custom-search-input {
    padding: 3px;
    border-bottom: solid 1px #E4E4E4;
    /*border-radius: 6px;*/
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: none !important;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 20px !important;
}

/*search input*/

.inbox_content {
    box-shadow: none !important;
}

.inbox_content .panel-body {
    padding: 0;
    border: 1px solid #dddddd;
}

.inbox_content .nav-tabs {
    border-bottom: 1px solid #95989A;
    background: #fafafa;
    /*padding-left: 30px;*/
}

.nav-tabs.nav-tabs-component > li > a {
    border-radius: 0 !important;
}

.inbox_content .nav-tabs > li.active > a, .inbox_content .nav-tabs > li.active > a:hover, .inbox_content .nav-tabs > li.active > a:focus {
    color: #2D3092;
    /* background-color: #fff;*/
    /* border: 1px solid #95989A;*/
    border-bottom-color: transparent;
    cursor: default;
    /* border-top: 2px solid #EC407A;*/
}

.breadcrumb > li > a {
    color: #2D3092 !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
}

.inbox_content .nav-tabs > li > a {
    color: #2D3092;
}

.tab-content-bordered .tab-content:not([class*=bg-]) {
    /* border-color: #95989A !important;*/
    background-color: #fff;
    padding: 10px;
    border-radius: 0;
}

.checkbox-inline + .checkbox-inline {
    margin-left: 0 !important;
}

.panel-toolbar button {
    background: #FAFAFA
}

.panel-toolbar.panel-toolbar-inbox {
    padding: 0
}

.datatable-header {
    padding: 0 !important;
    margin-top: -10px;
}

.dataTables_filter {
    float: right !important;
}

#inbox-toolbar-toggle-single {
    position: absolute;
    width: 50%
}

.checkbox-inline .checker {
    top: -9px !important;
}

.checker span:after {
    content: "\ed6e";
    font-family: 'icomoon';
    font-size: 16px;
    color: inherit;
    line-height: 1;
    position: absolute;
    top: -1px;
    left: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.checker span.checked {
    border: 2px solid #607D8B;
}

.star .checker span.checked {
    border: none
}

.star .checker span {
    border: none;
}

.star .checker span:after {
    content: "y";
    font-family: 'icomoon';
    font-size: 16px;
    color: inherit;
    line-height: 1;
    position: absolute;
    top: -1px;
    left: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.dataTable tr td.child > ul {
    width: auto !important;
    table-layout: auto !important;
}

/*
.table-responsive {
    position: relative;
    top: -50px;
}*/
/*.checkbox-inline .checker{position: static !important;}*/
/*document/inbox page style*/

/*dashboard left tables*/

.uploded-document .panel-heading {
    /*background: #5187D6 !important;*/
    padding: 5px 15px !important;
}

.uploded-document .panel-title {
    color: #fff !important;
}

.uploded-document .heading-elements {
    right: 0 !important;
}

.uploded-document .title {
    position: absolute;
    padding: 0 10px;
    top: 7px;
}

.box-sign {
    padding: 15px 0 !important;
    border-bottom: 2px solid #CDCED2;
}

/*dashboard left tables*/

#DataTables_Table_1 thead {
}



.nav-tabs svg {
    display: none !important;
}

/*
.responsive{    width: 100%;
    table-layout: auto !important;}*/
.table-lay {
    width: 100%;
    table-layout: auto !important;
}

/*media query*/
@media (min-width: 769px) {
    .sidebar-xs .sidebar-main .navigation > li > a > .icon_sid {
        color: #003375 !important;
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .user_active {
        padding-right: 10px !important;
        padding-right: 10px !important;
    }
}

@media (max-width: 769px) {
    .user_active {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

}

@media (max-width: 768px) {
    .heading-elements:not(.not-collapsible), .breadcrumb-elements:not(.not-collapsible) {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .uploded-document .title {
        font-size: 13px !important;
        top: 8px !important;
    }

    .heading-elements:not(.not-collapsible) {
        margin-top: -19px !important;
        height: auto;
        position: absolute !important;
    }

    .sidebar-xs-indicator .anytime svg#calender_svg {
        top: 52px !important;
        margin: 11px 0;
    }

    .sidebar-xs-indicator .anytime #anytime-both {
        left: 34px !important;
        top: 4px !important;
    }

}


