@page { margin: 0 }
.paper { margin: 0 ;padding: 50px 0px 70px 0;}
.sheet {
  margin: 0 auto!important;

  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  position: relative;
}

/** Paper sizes **/
.paper.A3           .sheet { width: 297mm; height: 419mm }
.paper.A3.landscape .sheet { width: 420mm; height: 296mm }
.A4 .sheet { width: 210mm; min-height: 260mm }
.paper.A4.landscape .sheet { width: 297mm; height: 209mm }
.paper.A5           .sheet { width: 148mm; height: 209mm }
.paper.A5.landscape .sheet { width: 210mm; height: 147mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  .paper {}
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           .paper.A3.landscape { width: 420mm }
  .paper.A3, .paper.A4.landscape { width: 297mm }
  .paper.A4, .paper.A5.landscape { width: 210mm }
  .paper.A5                    { width: 148mm }
}

@media screen {
.paper {
  background: #fff;
  padding: 30px;
  position: relative;
}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
  width: 790px;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #fbf7f7;
  width: 790px;
}

.paper::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: 0;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
}