.login-container{
    background:url(../../../../../../assets/images/mycompose_login_BG.jpg) center center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
}
.Password{
    display: none;
}
.Submit{
    display: none;
}
.back-arrow{
    display: none;

}

.login-form-partial{
    display: block;
}
.signup-form-partial{
    display: none;
}
#password-error{
    display: none;
}
#password-login-error{
    display: none;
}